{% extends 'base.html' %}
{% block content %}
<div class="container">
    <a href="{{ url_for('emails_new', person_id=person.id) }}">Add a new email!</a>
    <h1>See all the emails for {{ person.first_name }}</h1>
    {% for email in person.emails %}
    <p>
    <a href="{{ url_for('emails_show', person_id=person.id, id=email.id) }}">{{ email.email }}</a>
    <br>
    <a href="{{ url_for('emails_edit', person_id=person.id, id=email.id) }}">Edit Email!</a>
    <div class="row">
      <div class="col-lg-6">
      <div class="form-group">
    <form method="POST" action="{{ url_for('emails_show', person_id=person.id, id=email.id) }}?_method=DELETE">
    <input type="submit" value="Delete Email!" class="form-control" style="margin-top: 10px;">
    </form>
    </div>
    </div>
    </div>
    <a href="{{ url_for('index') }}">Home</a>
    </p>
</div>
    {% endfor %}
{% endblock %}